ServiceHost/Service References/CalcService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Sum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:double" />
        <xs:element minOccurs="0" name="b" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SumResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Minus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:double" />
        <xs:element minOccurs="0" name="b" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MinusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MinusResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:double" />
        <xs:element minOccurs="0" name="b" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MultResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Div">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:double" />
        <xs:element minOccurs="0" name="b" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DivResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SquareRoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SquareRootResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SquareRootResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Percent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:double" />
        <xs:element minOccurs="0" name="b" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PercentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PercentResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SinResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CosResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Square">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SquareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SquareResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Triple">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TripleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TripleResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:double" />
        <xs:element minOccurs="0" name="b" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PowResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TanResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Factorial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FactorialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FactorialResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Log">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>